/*window.getComputedStyle(document.documentElement)["fontSize"];*/
/*1em = 52px*/

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'microsoft yahei';
    height: 100%;
}

.btn {
    padding: 0.15rem 0.3rem !important;
    font-size: 0.25rem !important;
}

.ant-form-item {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 375px) {
    body {
        -webkit-overflow-scrolling: touch;
    }

}
